
#timer {
    display:flex;
    justify-content:flex-end;
}

#score-text {
    justify-content:flex-start;
}

#welcome-page {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:200px;

}

.question {
    display:flex;
    justify-content:center;
    font-size:70px;
    margin-top:30px;
    
}


#buttons {
    display:flex;
    justify-content:center;
    flex-direction:column;

}

.button-answer {
    font-size:40px;
    margin-right:900px;
    margin-left:680px;
    margin-top:20px;
        
}

.wrong-right {
    font-style:italic;
    margin-left:680px;
    margin-top:20px;
    font-size:30px;
}


