
#timer {
    display:flex;
    justify-content:flex-end;
}

#welcome-page {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:200px;

}

#question {
    font-size:100px;
}
